.Card{
    height: 150px;
}
.animationId{
    color: rgb(240, 0, 0);
}
.button{
   color:aliceblue;
}
.movie{
    color: black;
}
.id{
    color: red;
}
.name{
    color:red;
}
.names{
    color:rgb(20, 14, 14);
}